@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
/*font-family Nanum Gothic*/

*{
	font-family : Nanum Gothic;
}

/*html*/

html {
	position: relative;
    min-height: 100%;
}

/*body*/

body{
	background : #B2DFDB;
	margin : 0px;
	height : 100%;
	padding : 0;
	padding-bottom:120px;
	min-height:100%;
}

/*header*/

nav {
	clear:both;
	color:#FFFFFF;
	padding-left : 16px;
	padding-top : 32px;
	padding-bottom : 64px;
	background : #009688;
}

/*section*/

#page {
	min-width:350px;
	max-width: 768px;
	margin:auto;
	background : #FFFFFF;
	box-shadow: 0px 1px 10px #888888;
	padding-bottom : 64px;
}

#label {
	margin-top : -48px;
	background : #4DB6AC;
	height : 8px;
}

header{
	padding-top : 32px;
	padding-left : 32px;
}

#section-padding{
	padding : 32px;
	padding-top : 16px;
}

#intro {
	width: 100%;
	text-align: center;
	margin-bottom : 32px;
}

#intro img {
	width: 256px;
	height: 256px;
	margin-bottom : -32px;
}

#setting {
	position : relative;
	width : 100%;
	padding-top : 24px;
	padding-bottom : 32px;
	text-align : left;
	margin : auto;
}

#input_name{
	width : 256px;
}

#next {
	border-style: solid;
	border-width : 1px 1px 1px 1px;
	border-radius : 4px;
	border-color : #eeeeee;
	padding : 8px;
	padding-left : 32px;
	padding-right : 32px;
	margin-top : 32px;
	float:left;
	background : #1976D2;
	color : #ffffff;
}

#score-intro{
	padding-bottom : 32px;
	margin-top : -48px;
	color : #999999;
}

th, tr {
	text-align : center;
	height : 32px;
	color : #999999;
}

#question{
	margin-top : 32px;
	margin-bottom : 32px;
}

#chart-area{
	margin : auto;
	margin-top : -64px;
}

.radio-gruop {
	min-width : 300px;
	margin : auto;
	margin-bottom : 64px;
}

.question-text {
	margin-bottom : 32px;
}


/*footer*/

footer {
	position: absolute;
	bottom : 0;
	width : 100%;
	color: #ffffff;
	text-align: center; 
    background-color: #009688;
    padding-top: 8px;
    padding-bottom: 8px;
}

.small-font{
	font-size : 12px;
}

.large-font{
	font-size : 16px;	
}

.thick {
	font-weight: bold;	
}

.light {
	font-weight: lighter;
}

.gray {
	color : #999999;
}

/* result */

#result {
	background-color : #009688;
	color : #ffffff;
	display:inline;
	padding : 8px;
}

#explain{
	margin-top : 32px;
	margin-bottom : 48px;
}

#pros {
	background-color : #2196F3;
	color : #ffffff;
	padding : 8px;
	display:inline;
	margin-bottom : 24px;
}

#cons{
	background-color : #F44336;
	color : #ffffff;
	padding : 8px;
	display:inline;
}

.ul-area{
	margin-top : 32px;
	margin-bottom : 32px;
}

li{
	margin : 4px;
}
